# Virtual environment
bot/

# Environment variables
.env

*.pem

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Database/PDFs (personal data)
database/

# Docker volumes
qdrant_storage/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log